All Makefiles source config/$(ARCH)_$(TYPE), where ARCH defines exactly what 
machine architecture to target and TYPE is the parallelization strategy and 
precision (one, one4, omp, mpi, mpisr, shmem).

The specified config/$(ARCH)_$(TYPE) file must already exist.  So far
the following are available:

alpha_mpi	- Compaq SC45,		MPI
intel_mpi	- Intel Linux/pgf90,	MPI
intel_mpich	- Intel Linux/pgf90,	MPI (MPICH)
intel_mpiLAM	- Intel Linux/pgf90,	MPI (LAM-MPI)
o2k_mpi		- SGI Origin 2000,	MPI
o2k_shmem	- SGI Origin 2000,	SHMEM
sp3_mpi		- IBM SMP Power3,	MPI
sp4_mpi		- IBM SMP Power4,	MPI
sun64_mpi	- Sun (64-bit),		MPI
sun_mpi		- Sun (32-bit),		MPI
t3e_mpi		- Cray T3E,		MPI
t3e_shmem	- Cray T3E,		SHMEM

The following environment variables must be defined in each config file:

# FC:         Fortran 90 compiler.
# FCFFLAGS:   Fortran 90 compilation flags.
# CC:         C compiler.
# CCFLAGS:    C compilation flags.
# CPP:        cpp preprocessor (may be implied by FC).
# CPPFLAGS:   cpp -D macro flags (see README.macros).
# LD:         Loader.
# LDFLAGS:    Loader flags.
# EXTRALIBS:  Extra local libraries (if any).

In addition, make suffix rules are required for .c.o, .f.o, and .F.o 
(i.e. how to create .o files from .c, .f and .F files).  In the 
simplest case these are:

#
# rules.
#

.c.o:
	$(CC) $(CPPFLAGS) $(CCFLAGS)  -c $*.c

.f.o:
	$(FC)             $(FCFFLAGS) -c $*.f

.F.o:
	$(FC) $(CPPFLAGS) $(FCFFLAGS) -c $*.F

Note that the rule command lines start with a tab character.
